:root {
    --text-color: #ccc;
    --background-color: green;
}
.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: var(--text-color);
    & .inner {
        height: 30px;
        width: 50%;
        border-radius: 4px;
        background: var(--background-color);
        & .context {
            text-align: center;
            color: #fff;
            line-height: 30px;
        }
    }
}
